<div class="entry" data-id="{{id}}">
	<img class="thumbnail" src="{{thumbnail}}" />
	<div class="article hide">
		<img class="full_img" src="{{img}}" />
		<div class="article_content">
			<h2>{{title}}</h2>
			<span class="author">{{author}}</span>
			<span class="published">{{published}}</span>
			<hr />
			<p>{{excerpt}}</p>
			<a href="{{link}}" target="_blank">Read more</a>
		</div>
	</div>
</div>